<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Region</key>
	<array>
		<string>下城区</string>
		<string>西湖区</string>
		<string>上城区</string>
		<string>江干区</string>
		<string>拱墅区</string>
		<string>滨江区</string>
		<string>余杭区</string>
		<string>萧山区</string>
	</array>
	<key>Price</key>
	<array>
		<string>价格区间(元)</string>
		<string>不限</string>
		<string>50W以下</string>
		<string>50-100W</string>
		<string>100-200W</string>
		<string>200-500W</string>
		<string>500-1000W</string>
		<string>1000W及以上</string>
	</array>
	<key>Area</key>
	<array>
		<string>面积</string>
		<string>不限</string>
		<string>50-100</string>
		<string>100-150</string>
		<string>150-200</string>
		<string>200-300</string>
		<string>300以上</string>
	</array>
	<key>Time</key>
	<array>
		<string>5小时内</string>
		<string>一天之内</string>
		<string>三天之内</string>
	</array>
</dict>
</plist>
